* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.note-taker-container {
  width: 100%;
  display: flex;
  height: 100vh;
}

.left-section-container {
  width: 100%;
  max-width: 240px;
}

.sidebar-ctrls {
  display: flex;
  padding: 16px;
}

.sidebar-ctrls > div {
  margin-right: 16px;
}

.sidebar-ctrls > div > img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.sidebar-ctrls > div > img:active {
  transform: scale(0.9);
}

.left-section {
  width: 100%;
  max-width: 240px;
  height: 90vh;
  overflow: auto;
  border: 1px solid #d3d3d3;
  padding-top: 16px;
  margin: 2rem 0 0;
  user-select: none;
}

.left-section.collapse > .children > .children{
  display: none;
}

.collapse_child.children{
  display: none;
}

.children {
  margin-left: 16px;
  cursor: pointer;
  width: 100%;
}

.children_name {
  padding: 0 8px;
  width: 100%;
  display: block;
}

.children.active_tree_elm > span {
  background: #d6d6ff;
}

.children_name:hover {
  background-color: #d6d6ff;
}

.children.child_hidden > .children {
  /* display: none; */
}

.middle-section {
  width: 100%;
  min-width: 320px;
  margin-left: -1px;
}

.title {
  width: 100%;
  border: none;
  outline: none;
  height: 2rem;
  padding: 0 1rem;
  text-align: center;
}

.editor {
  width: 100%;
  height: 90vh;
  outline: none;
  border: 1px solid #d3d3d3;
  padding: 8px;
  resize: none;
  font-size: 1rem;
}

.save-btn {
  display: block;
  background-color: #525252;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
  margin-top: 16px;
  margin-right: 16px;
  color: white;
}

.save-btn:active {
  transform: scale(0.9);
}

.right-section {
  width: 100%;
  min-width: 320px;
  height: 100%;
  margin-left: -1px;
}

.editor-preview {
  border: 1px solid #d3d3d3;
  margin-top: 2rem;
  height: 90vh;
  max-height: 90vh;
  padding: 8px;
  overflow: auto;
}

.new-tree-elm-placeholder {
  width: 100%;
  max-width: 240px;

  position: relative;
  left: 1rem;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #525252; 
}